/*CSS DOCUMENT*/

/*START OF SPACING RESET

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*END OF SPACING RESET*/

body{
    background-color: #fff4f2;
    
}
h1,h2,h3,h6{
    font-family: "Optima", monospacesans-serif;
}
h1{
    font-size: 3.4em;
    background: #7c443d;
    background-image: url(fresco.jpg);
    color: #fff4f2;
    padding-top: 1.6em;
    line-height: .61em;
    margin: 0;
    padding-left: .2em;
    text-transform: uppercase;
    
}
h2{
    
    
    margin: 0;
	padding-top: .5em;
    padding-bottom: 1em;
    color: #7c443d;
    text-align: right;
    padding-right: 1em;
    
     
}
h3{
    padding-left: 1em;
    font-size: 2.5em;
    margin: 0;
}
li,ul,p{
    font-family: "Verdana", Verdana, sans-serif;
    
}
ul{
    color: #fff4f2;
    font-size: 1em;
}
p{
    color: #3d7c42;
    font-size: .7em;
}

img {
width: 100%;
    border-color: #3d7c42;
    border-width: 1em;
    border-style: solid;
}
div.intro{
    width:45%;
    float: right;
    
}

div.maincontent{
    padding: inherit;
}

div.ingredients{
    width:55%;
    float: left;
    background-color: #3d7c42; 
    
    
}
.ingredients h3{
    text-decoration-line: underline;
    background-color: #fff4f2;
    color: #3d7c42;
    
}
div.directions{
    padding-top: 3em;
    float:right;
    margin: 0;
    width: 100%;
   
    }
    .directions h3{
    background-color: #3d7c42;
    color: #fff4f2;
         
}
.directions li{
    color: #3d7c42;
} 
footer{
    bottom: 0;
    width: 100%;
    color: #7c443d;
    position: absolute;
    text-align: right;
}